{% load static %}
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FotoBlog</title>
	<link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
	<div class="sidebar">
		<h1>FotoBlog</h1>
		{% if user.is_authenticated %}
			<p> Salut, {{ user }}!</p>
			{% if user.profile_photo %}
				<img class="avatar" src="{{ user.image.url }}" alt="profil-photo">
			{% else %}
				<img class="avatar" src="{% static 'images/default_profile.png' %}" alt="default_image_profile">
			{% endif %}
			<p><a href="{% url 'home' %}">Accueil</a></p>
			<p><a href="{% url 'photo_upload' %}">Televerser une photo</a></p>
			<p><a href="{% url 'new_photo_profil' %}">Changer la photo de profil</a></p>
			<p><a href="{% url 'password_change' %}">Changer le mot de passe</a></p>
			<p><a href="{% url 'logout' %}">Se deconnecter</a></p>
			<!--<form method="post" action="{% url 'logout' %}">
				{% csrf_token %}
				<button type="submit">Se deconnecter</button>
			</form>
			<p>Voulez-vous <a href="{% url 'password_change' %}">Changer votre mot de passe?</a></p>-->
		{% endif %}
	</div>
	<div class="main">
		{% block content %}	{% endblock content %}
	</div>
</body>
</html>